secrets.yaml
google_calendars.yaml
home-assistant.sublime-workspace
bin/
deps/
src/
www/community/
www/cameras/
custom_components/
__pycache__
.DS_Store
.HA_VERSION
.storage
.google.token
.uuid
*.txt
*.pickle
*.conf
*.json
*.log
*.db*
*.xml
*.sqlite
*.bak
